[submodule "contrib/jemalloc"]
	path = contrib/jemalloc
	url = https://github.com/ClickHouse-Extras/jemalloc.git
[submodule "contrib/poco"]
	path = contrib/poco
	url = https://github.com/ClickHouse-Extras/poco.git
	branch = clickhouse
[submodule "contrib/lz4"]
	path = contrib/lz4
	url = https://github.com/lz4/lz4.git
[submodule "contrib/zstd"]
	path = contrib/zstd
	url = https://github.com/facebook/zstd.git
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = https://github.com/ClickHouse-Extras/zlib-ng.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/ClickHouse-Extras/boost.git
[submodule "contrib/fmtlib"]
	path = contrib/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/magic_enum"]
	path = contrib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "contrib/bzip2"]
	path = contrib/bzip2
	url = https://github.com/ClickHouse-Extras/bzip2.git
[submodule "contrib/replxx"]
	path = contrib/replxx
	url = https://github.com/ClickHouse-Extras/replxx.git
[submodule "contrib/cctz"]
	path = contrib/cctz
	url = https://github.com/ClickHouse-Extras/cctz.git
[submodule "contrib/re2"]
	path = contrib/re2
	url = https://github.com/google/re2.git
[submodule "contrib/yaml-cpp"]
	path = contrib/yaml-cpp
	url = https://github.com/ClickHouse-Extras/yaml-cpp.git
[submodule "contrib/double-conversion"]
	path = contrib/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "contrib/miniselect"]
	path = contrib/miniselect
	url = https://github.com/danlark1/miniselect
[submodule "contrib/dragonbox"]
	path = contrib/dragonbox
	url = https://github.com/ClickHouse-Extras/dragonbox.git
[submodule "contrib/fast_float"]
	path = contrib/fast_float
	url = https://github.com/fastfloat/fast_float
[submodule "contrib/xz"]
	path = contrib/xz
	url = https://github.com/xz-mirror/xz
[submodule "contrib/brotli"]
	path = contrib/brotli
	url = https://github.com/google/brotli.git
[submodule "contrib/boringssl"]
	path = contrib/boringssl
	url = https://github.com/ClickHouse-Extras/boringssl.git
[submodule "contrib/llvm"]
	path = contrib/llvm
	url = https://github.com/ClickHouse-Extras/llvm
[submodule "contrib/libcxxabi"]
	path = contrib/libcxxabi
	url = https://github.com/ClickHouse-Extras/libcxxabi.git
[submodule "contrib/libcxx"]
	path = contrib/libcxx
	url = https://github.com/ClickHouse-Extras/libcxx.git
[submodule "contrib/sysroot"]
	path = contrib/sysroot
	url = https://github.com/ClickHouse-Extras/sysroot.git
[submodule "contrib/libcpuid"]
	path = contrib/libcpuid
	url = https://github.com/ClickHouse-Extras/libcpuid.git
[submodule "contrib/libunwind"]
	path = contrib/libunwind
	url = https://github.com/ClickHouse-Extras/libunwind.git
[submodule "contrib/utf8proc"]
	path = contrib/utf8proc
	url = https://github.com/JuliaStrings/utf8proc.git
[submodule "contrib/flex"]
	path = contrib/flex
	url = git@github.com:westes/flex.git
[submodule "contrib/bison"]
	path = contrib/bison
	url = https://github.com/akimd/bison
